form {
  /* INPUT - WRAPPER */
  & .input-wrapper {
    display: flex;
    gap: 0.75rem;

    & .input-inner {
      display: grid;
      text-align: center;

      & label {
        text-transform: uppercase;
        font-family: var(--ff-roboto-flex-sans);
        font-size: 1rem;
        font-weight: 600;
        line-height: 150%;
        color: var(--content-secondary);
      }

      & input {
        width: 100%;
        position: relative;

        font-family: var(--ff-sora-sans);
        font-size: 2rem;
        font-weight: 800;
        line-height: 150%;
        color: var(--content-primary);
        text-align: center;

        border-radius: 0.5rem;
        border: 2px solid transparent;
        background-color: var(--background-secondary);
        outline: 2px solid transparent;
        padding: 0.25rem 0.5rem;

        &::-webkit-inner-spin-button {
          appearance: none;
        }

        &:hover,
        &:focus {
          border: 2px solid transparent;

          /* Dois backgrounds:
              - O primeiro é a cor de fundo do input, que é o valor de var(--background-secondary).
              - O segundo é o gradiente, que cria a borda com um efeito de transição de cor.
              - O `background-clip: padding-box, border-box` faz com que o fundo principal preencha a área interna do `input` (padding-box), e o gradiente preencha a borda (border-box).
              */
          background-image: linear-gradient(
              /* Cor de fundo do input,a mesma cor, para manter o fundo sólido */
                var(--background-secondary),
              var(--background-secondary)
            ),
            linear-gradient(
              90deg,
              var(--accent-green) 0%,
              var(--accent-lime) 14.84%,
              var(--accent-red) 32.15%,
              var(--accent-pink) 65.79%,
              var(--accent-blue) 84.58%
            );

          /* Define a origem do background como a área da borda */
          background-origin: border-box;
          /* Faz o fundo sólido preencher a área interna (padding-box) e o gradiente preencher a borda (border-box) */
          background-clip: padding-box, border-box;

          /* ANIMATION */
          animation: borderMove 3s linear infinite;
          background-size: 300% 100%; /* permite movimento */
          background-position: 0% 0%;

          /* Aplica o box-shadow:
                - Primeiro, cria um espaço transparente para garantir que a borda externa não seja afetada.
                - Depois, adiciona a borda gradiente ao redor do input com o  gradiente linear.
            */
          box-shadow: 0 0 0 3px transparent,
            0 0 0 4px
              linear-gradient(
                90deg,
                var(--accent-green) 0%,
                var(--accent-lime) 14.84%,
                var(--accent-red) 32.15%,
                var(--accent-pink) 65.79%,
                var(--accent-blue) 84.58%
              );

          /* Remove o outline padrão que o navegador adiciona no foco */
          outline: none;
        }
      }

      /* 
          Aplica a cor ao label ao passar o mouse sobre o input ou ao focar no input

          A pseudoclasse :focus-within verifica se algum elemento filho dentro de .input-inner está focado (no caso, o input)
        */
      &:hover label,
      &:focus-within label {
        color: var(--background-brand);
      }
    }
  }

  /* CHECKBOX - WRAPPER */
  & .checkbox-wrapper {
    display: flex;
    align-items: center;

    padding-block: 1.25rem 2.5rem;

    gap: 0.5rem;

    & .switch {
      width: 1.875rem;
      height: 1.25rem;
      display: flex;
      position: relative;

      & input {
        width: 100%;
        opacity: 0;
        inset: 0;

        &:checked + .slider {
          background: linear-gradient(
            var(--accent-pink) 0%,
            var(--accent-blue) 98.93%
          );
        }

        &:checked + .slider:before {
          transform: translate(0.625rem, -50%);
        }
      }

      & .slider {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 1rem;
        background-color: var(--content-tertiary);
        padding: 0.1875rem;
        transition: 0.4s;
        cursor: pointer;

        &::before {
          position: absolute;
          content: "";
          width: 0.875rem;
          height: 0.875rem;
          background-color: var(--content-primary);
          transition: 0.4s;
          cursor: pointer;
          top: 50%;
          transform: translateY(-50%); /* centraliza verticalmente */
          border-radius: 1rem;
        }
      }
    }

    & span {
      font-family: var(--ff-sora-sans);
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 150%;
      color: var(--content-primary);
    }
  }

  /* SUBMIT - WRAPPER */
  & .submit-wrapper {
    & input {
      width: 100%;
      padding: 1rem;

      font-family: var(--ff-roboto-flex-sans);
      font-weight: 500;
      font-size: 1rem;
      line-height: 150%;
      text-transform: uppercase;

      outline: none;
      border: 2px solid transparent;
      border-radius: 0.5rem;

      cursor: pointer;

      background-color: var(--background-tertiary);
      color: var(--content-primary);

      &:hover,
      &:focus {
        border: 2px solid transparent;
        background-image: linear-gradient(
            var(--background-secondary),
            var(--background-secondary)
          ),
          linear-gradient(
            90deg,
            var(--accent-green) 0%,
            var(--accent-lime) 14.84%,
            var(--accent-red) 32.15%,
            var(--accent-pink) 65.79%,
            var(--accent-blue) 84.58%
          );

        background-origin: border-box;
        background-clip: padding-box, border-box;

        /* ANIMATION */
        animation: borderMove 3s linear infinite;
        background-size: 300% 100%; /* permite movimento */
        background-position: 0% 0%;

        box-shadow: 0 0 0 3px transparent,
          0 0 0 4px
            linear-gradient(
              90deg,
              var(--accent-green) 0%,
              var(--accent-lime) 14.84%,
              var(--accent-red) 32.15%,
              var(--accent-pink) 65.79%,
              var(--accent-blue) 84.58%
            );

        outline: none;
      }
    }
  }
}

@keyframes borderMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}

@media (width > 64em) {
  & .input-inner {
    width: 5.375rem;
  }
}
