header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6875rem;
  padding-bottom: 2.875rem;

  & span {
    font-family: var(--ff-sora-sans);
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

@media (width > 64em) {
  header {
    justify-content: start;
    padding-bottom: 5.5625rem;
  }
}
