section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero"
    "sortition"
    "works";
}

#hero {
  grid-area: hero;
  padding-bottom: 2.625rem;

  & span {
    font-family: var(--ff-roboto-mono-sans);
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;

    /* gradient for text */
    text-transform: uppercase;
    background: -webkit-linear-gradient(0deg, #c7c9cc, #3d3d3d 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & h1 {
    font-family: var(--ff-sora-sans);
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 130%;
    padding-top: 0.5rem;
  }
}

#works {
  grid-area: works;
  display: grid;
  gap: 2.25rem;

  & div {
    position: relative;
    padding-left: 1.75rem;

    & h3 {
      font-family: var(--ff-sora-sans);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 150%;
      color: var(--background-brand);
      padding-block: 0.2rem;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../assets/icons/userMessage.svg);
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 1.5625rem;
        height: 1.5625rem;
      }
    }

    & p {
      font-family: var(--ff-sora-sans);
      font-size: 0.75rem;
      line-height: 150%;
      color: var(--content-secondary);
    }
  }
}

#sortition {
  grid-area: sortition;
  display: grid;
  gap: 2.5rem;
  padding-bottom: 5rem;

  div {
    & h2 {
      text-transform: uppercase;
      font-family: var(--ff-roboto-flex-sans);
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 150%;
      color: var(--content-primary);
      padding-bottom: 0.25rem;
    }

    & p {
      font-family: var(--ff-roboto-flex-sans);
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 150%;
      color: var(--content-tertiary);
    }
  }

  & ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    padding-bottom: 2.5rem;

    & li {
      list-style: none;
      text-align: center;

      width: 84px;

      font-family: var(--ff-roboto-mono-sans);
      font-weight: 700;
      font-size: 3rem;
      line-height: 150%;
      color: var(--color-inverse);

      border-radius: 1.75rem;
      opacity: 0;
      transform: scale(2) rotate(0deg);
    }

    & li.animate {
      animation: revealAndShrink 4s ease-in-out forwards;
    }
  }

  & .newSortition {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out,
      visibility 0s linear 0.6s;
    will-change: opacity, transform;
  }

  & .newSortition.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s; /* remove o atraso do visibility */
  }
}

@media (width > 64em) {
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "hero sortition"
      "works sortition";

    column-gap: 6.75rem;
  }

  #hero {
    padding-bottom: 2.375rem;
    & h1 {
      font-size: 4rem;
      padding-top: 0.75rem;
    }
  }

  #works {
    display: flex;
    flex-direction: column;
  }

  #sortition {
    grid-area: sortition;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@keyframes revealAndShrink {
  0% {
    transform: scale(1.5) rotate(0deg);
    opacity: 0;
  }

  30% {
    transform: scale(1.5) rotate(360deg);
    opacity: 1;
  }

  60% {
    transform: scale(1.5) rotate(360deg);
    opacity: 1;
  }

  80% {
    transform: scale(1.5) rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    color: var(--background-brand);
  }
}
