section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero"
    "sortition"
    "works";
}

#hero {
  grid-area: hero;

  & span {
    font-family: var(--ff-roboto-mono-sans);
    font-weight: 600;
    font-size: 1rem;

    /* gradient for text */
    text-transform: uppercase;
    background: -webkit-linear-gradient(0deg, #c7c9cc, #3d3d3d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & h1 {
    font-family: var(--ff-sora-sans);
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 130%;
    padding-block: 0.5rem 2.625rem;
  }
}

#works {
  grid-area: works;
  display: grid;
  gap: 2.25rem;

  div {
    position: relative;
    padding-left: 1.75rem;

    & h3 {
      font-family: var(--ff-sora-sans);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 150%;
      color: var(--background-brand);
      padding-block: 0.2rem;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../assets/icons/userMessage.svg);
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 1.5625rem;
        height: 1.5625rem;
      }
    }

    & p {
      font-family: var(--ff-sora-sans);
      font-size: 0.75rem;
      line-height: 150%;
      color: var(--content-secondary);
    }
  }
}

#sortition {
  grid-area: sortition;
}

@media (width > 64em) {
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "hero sortition"
      "works sortition";
  }
}
