.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
  padding-block: 2.75rem;
}

@media (width > 64em) {
  .container {
    --max-width: 64em; /* 1024px */
  }
}
